/*==================================================
                    FAQ
==================================================*/

#faq{
    position:relative;
}

.faq-container{
    max-width:850px;
    margin:50px auto 0;
}

.faq-item{
    background:rgba(255,255,255,.85);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.6);
    border-radius:22px;
    margin-bottom:18px;
    overflow:hidden;
    transition:.35s;
}

.faq-item:hover{
    transform:translateY(-4px);
    box-shadow:0 20px 45px rgba(124,58,237,.12);
}

.faq-question{
    width:100%;
    background:none;
    border:none;
    padding:24px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    font-size:1.05rem;
    font-weight:700;
    color:var(--dark);
}

.faq-question i{
    color:var(--primary);
    transition:.35s;
}

.faq-answer{
    max-height:0;
    overflow:hidden;
    transition:max-height .4s ease;
}

.faq-answer p{
    padding:0 30px 25px;
    color:var(--gray);
    line-height:1.8;
}

.faq-item.active .faq-answer{
    max-height:220px;
}

.faq-item.active .faq-question i{
    transform:rotate(45deg);
}

@media(max-width:768px){

.faq-question{
padding:20px;
font-size:1rem;
}

.faq-answer p{
padding:0 20px 20px;
}

  }
